{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/style3.css' %}">
    <title>Amazon</title>
</head>
<body class="body">
    <div class="navbar">
        <div class="nav-logo ">
            <div class="logo border"></div>
        </div>
        <div class="nav-address border">
            <p class="add-first">Deliver to</p>
            <div class="add-icon">
                <i class="fa-solid fa-location-dot"></i>
                <p class="add-second">India</p>
            </div>
        </div>

        <div class="nav-search">
            <select name="" id="" class="search-select">
                <option value="">All</option>
            </select>
            <input placeholder="Search Amazon" box="box" class="search-input">
            <div class="search-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>

    </div>

     



        <div class="container">
            <img src="amazon_cart.svg" alt="">
             <div class="a">
                <h2 style="margin-left:17px">Your Shoe Cart is empty</h2>
                <p id="p1">Shop today's deal</p>
                <div class="b">
                    <button id="but1"> <pre>Sign in to your account</pre> </button>
                    <button id="but2">Sign Up now</button>
                </div>
                
             </div>







        </div>
    </div>
</body>
</html>